<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body class="bg-success">
    <%- include('partials/naw') %>

    <div class="container mt-3 flex justify-content-center align-items-center">
      <div class="row flex justify-content-center align-items-center">
        <div class="col-9">
          <h1 class="text-white">Anasayfa</h1>
          <% urunler.forEach(urun => { %> <% if (urun.isHome) { %> <%-
          include('partials/product', urun) %> <% } %> <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
