<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body class="bg-warning">
    <%- include('partials/naw') %>
    <div class="container mt-3 flex justify-content-center align-items-center">
      <h1 class="text-white">Ürün Detayı</h1>
      <div class="row">
        <div class="col-12">
          <div class="card mb-3 p-4">
            <div class="row">
              <div class="col-4">
                <img src="/img/<%= urun.img %>" alt="" class="img-fluid" />
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title"><%= urun.name %></h5>
                  <strong class="card-text">Fiyat: <%=urun.price %>₺</strong>
                  <p class="mt-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fugiat, sunt. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Tempora deserunt adipisci facere aliquam
                    quisquam beatae nobis! Corporis, id vero ab dolorum
                    necessitatibus atque ipsam, expedita nisi quo, voluptatum
                    excepturi molestiae.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
